#wrap {
	width: 971px; /* 각 웹 페이지 크기에 맞게 사이즈 조정 */
	text-align: left;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/shadow.png);
	background-repeat: repeat-y;
	min-height: 900px;
}

.clear {
	clear: both;
}

body {
	background-color: #898989;
	margin: 0;
	padding: 0;
	font-size: 0.75em;
	line-height: 1.2em;
	color: #333;
}

#logo {
	float: left;
	width: 265px;
	margin: 40px 0 0 40px;
}

header {
	height: 151px;
	margin: 0;
	padding: 0;
}

nav#top_menu {
	width: 600px;
	margin: 50px 20px 0 0;
	float: right;
}

nav#top_menu ul {
	list-style: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: 100;
	color: #333;
}

nav#top_menu ul li {
	float: left;
	margin: 0 5px;
}

nav#top_menu a {
	display: black;
	height: 20px;
	padding: 10px;
	text-decoration: none;
	color: #333;
}

nav#top_menu a:HOVER {
	background-image: url(../images/blue.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

#login {
	float: right;
	margin: 20px 64px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-spacing: 5px;
}

#login a {
	text-decoration: none;
	color: #333;
}

#login a:HOVER {
	color: #F90;
}

#main_img {
	width: 971px;
	height: 308px;
	background-image: url(../images/img_back.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#main_img img {
	margin: -2px 0 0 0;
}

article#front {
	margin: 15px 0 5px 20px;
	min-height: 380px;
}

#solution {
	border: solid 1px #FFFFFF;
	border-radius: 10px;
	width: 910px;
	min-height: 150px;
	background: #ebebeb;
	padding: 10px;
}

#hosting,#security,#payment {
	width: 30%;
	float: left;
	padding: 10px;
}

#hosting h3,#security h3,#payment h3 {
	font-family: seo;
	font-size: 14px;
	font-weight: 600;
	color: #333;
	margin: 0 0 10px 60px;
}

#hosting p,#security p,#payment p {
	font-family: seo;
	font-size: 12px;
	color: #333;
	margin: 0 0 0 60px;
}

@font-face {
	font-family: "seo";
	src: url("../images/seguisym.eot");
	src: url("../images/seguisym.ttf") format("truetype");
}

#hosting {
	background-image: url(../images/icon1.png);
	background-repeat: no-repeat;
	background-position: left 15px;
	border-right: 1px solid #ccc;
	margin: 0 10px 0 0;
}

#security {
	background-image: url(../images/icon2.png);
	background-repeat: no-repeat;
	background-position: left 15px;
	border-right: 1px solid #ccc;
	margin: 0 10px 0 0;
}

#payment {
	background-image: url(../images/icon3.png);
	background-repeat: no-repeat;
	background-position: left 15px;
}

#sec_news,#news_notice {
	float: left;
	width: 420px;
	margin: 15px 0 0 20px;
}

#sec_news h3,#news_notice h3 {
	font-family: seo;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	width: 420px;
	height: 16px;
	background-image: url(../images/h3_back.jpg);
	background-repeat: no-repeat;
	padding: 5px 0 0 22px;
}

#sec_news .orange {
	color: #f26522;
}

#news_notice .brown {
	color: #827b00;
}

#sec_news dl {
	margin-left: 6px;
}

#sec_news dt {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	margin: 5px 0;
	color: #F00;
}

#sec_news dt a {
	color: #F00;
	text-decoration: none;
}

#sec_news dt a:hover {
	color: #F90;
	text-decoration: underline;
}

#sec_news dd {
	margin-left: 0;
	color: #333;
}

#sec_news dd a {
	color: #333;
	text-decoration: none;
}

#sec_news dd a:hover {
	color: #F90;
	text-decoration: underline;
}
#news_notice table{
	width:400px;
	
	/*테두리 공간을 없애다*/
	border-collapse: collapse;
	text-align: center;
	
}

#news_notice td{
	padding:6px 4px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
}

#news_notice td.contxt{
	background-image: url(../images/tr_back.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:25px;
	text-align: left;
	color:#333;
}

#news_notice a{
	color:#333;
	text-decoration:none;
}
#news_notice a:hover{
	text-decoration: none;
	color:#F90;
}


footer{
	margin:15px 0 0 0;
	height:80px;
	background-image: url(../images/under_logo.gif);
	background-repeat: no-repeat;
	background-position: 40px center;
	
}

footer hr{
	width:900px;
	margin: 0 0 0 25px;
}

footer #copy{
	font-family: seo;
	width:450px;
	margin:20px 0 0 190px;
	float:left;
}

footer #social{
	width:130px;
	margin: 20px 20px 0 0 ;
	float:right;
}

footer #social img{
	margin: 0 7px;
}